.App {
  background-color: #282c34;
  min-height: 100vh;
  color: #fff;
}
h1{
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}
label{
  margin: 15px;
}

.input{
  display: block;
  margin: 15px;
  width: 200px;
}
.button{
  margin: 15px;
}
.App-header {
  height: 100px;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
